{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="user__shop">
    <div class="container">
        <div class="shop__header">
            <div class="shop__title">
                <h3>Обменяйте ваше золото на товары</h3>
                <p>У вас в мешке: {{balance}} золотых</p>
            </div>
            <a href="{{request.META.HTTP_REFERER}}" class="back-button">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>назад</title>
                    <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
                </svg>
            </a>
        </div>
        <div class="shop__cards">
            {% for product in products %}
            <div class="card">
                <div class="card__header">
                    <h4>{{ product.name }}</h4>
                    <p>{{  product.description  }}</p>
                </div>
            </div>
            <div class="card__body">
                <p>{{  product.art  }}</p>
                <p>{{  product.amount  }}</p>
                <p>Цена: {{ product.cost }} золотых</p>
            </div>
        </div>
            {% endfor %}
            <img src="{% static 'images/hoodie.jpg' %}"/>
    </div>
</main>


{% endblock content %}